@import "src/app/theme/styles/variables";
@import "src/app/theme/styles/mixins";

.feedback-list {
  @include clear-list();
  margin-top: 32px;

  .feedback-list-item {
    border-bottom: 1px solid $color-secondary-divider;

    &:last-child {
      border-bottom: 1px solid $color-secondary-divider;
    }

    &:first-child {
      border-top: 1px solid $color-secondary-divider;
    }
  }
}


@media only screen and (max-width: 768px) {
  .feedback-list {
    margin-top: 40px;
  }
}
