@import "src/app/theme/styles/variables";
@import "src/app/theme/styles/mixins";

:host {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  min-height: 400px;
  padding: 40px 0;
  max-width: 1130px;
  margin: 0 auto;
}

h1 {
  font-size: $f24;
  line-height: 32px;
  font-weight: 900;
  color: $main-color;
  margin: 0;
}

mat-tab-group {
  min-height: 50px;
  margin-bottom: 24px;
}


xcdrs-products-display-mode-btn {
  float: right;
}

.product-counter {
  margin-top: 16px;
  margin-bottom: 6px;
  font-size: $f14;
  color: $sub-title-color;
}

.spinner-container {
  position: absolute;
  top: 30px;
  left: -10px;
  right: -10px;
  bottom: 30px;
  @include flex-center;
  z-index: 1;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 4px;
}

.header {
  margin-bottom: 24px;

  .section-title {
    margin: 0;
  }

  .add-btn {
    height: 48px;
    padding-left: 43px;
    padding-right: 43px;
  }
}


@media only screen and (max-width: 576px) {
  :host {
    padding: 24px 0;
  }
  mat-tab-group {
    margin-bottom: 9px;
  }
  .row {
    margin: 0;
  }
  .col {
    padding: 0;
  }
}
